[2016-06-01 06:17] frederikhegger opened #2 "Use object instance IDs for 2017"
Before we had no instance_ids therefore even though we configured e.g:

F20_20_B from S1 -> S3
F20_20_B from S2 -> S4

It was possible to transport F20_20_B from S1->S4. Since only the initial and the final scenario where compared. This resulted in a problem when using areas both as source and destination, since we could have configured a task where an object would not need to be moved: e.g:

F20_

[2016-06-02 05:38] frederikhegger opened #3 "Add max. test time for assembly challenge"

[2016-06-02 05:38] frederikhegger opened #4 "Add section for cross league challenge"

[2016-06-02 05:39] frederikhegger opened #5 "Add blue/white barrier tape to the rulebook"

[2016-06-02 05:42] JanCCarstensen commented on #5
This is already in.

[2016-06-02 05:42] #5 closed, assigned to nobody

[2016-06-02 05:48] frederikhegger commented on #5
Perfect.

[2016-06-03 09:20] frederikhegger opened #6 "Alternative for the coneyor belt"
https://www.flikto.de/products/openbuilds-v-slot-linearfuhrungen-kit-1000mm-schwarz-1

[2016-06-08 06:32] JanCCarstensen commented on #3
The Rulebook currently states: The maximum time and the number of assembly to be performed will be determined on the event by the TC.

[2016-06-09 07:09] frederikhegger commented on #3
Okay, but for 2017, a specific duration should be mentioned in the rulebook

[2016-06-09 11:42] frederikhegger opened #7 "Reduce radius of the rotating table"
maybe to something like 50cm

[2016-06-10 10:02] svenschneider opened #8 "Mention frequencies of WLAN"
The rulebook specifies that the WLAN will be "dual band", but does not mention the concrete frequencies (probably 2.4 GHz and 5 GHz).

[2016-06-14 13:33] frederikhegger opened #9 "Remove possibility to let a team choose the RoCKIn objects for BMT instance"

[2016-08-10 11:51] frederikhegger opened #10 "RoboCup 2016 feedback"
Yiyan Wang (Team RoboErectus):
1. The finalised rulebook should be released six months in advance like the other soccer leagues to allow teams to better prepare for the competition.
2. Time limit given to complete each tests should be extended. Tests should be extended to around 10 minutes for each tests and 20 minutes for finals → bonus points to be awarded. Even with 10 minutes given to complete

[2016-08-10 11:55] frederikhegger commented on #10
Jon Martin (AutonOHM):
1. It would be nice to have an internal welcome event to meet other teams. The TCs should introduce themselves to the  competitors. So the whole team (and not only the Team leaders) has a global overview about how it is going to be. Details can be discussed later on, during the team leader meetings.
2. It seems that only a few teams completed at least a whole test. Time limi

[2016-08-12 09:10] frederikhegger opened #11 "Add rule that teams with 0 points in the pre-final stage do not make it into the final"

[2016-08-12 09:10] frederikhegger opened #12 "How is a collision with a barrier tape handled?"
It is never mentioned in the rulebook

[2016-08-12 09:12] frederikhegger opened #13 "Check what the logistics league use as WLAN equipment"

[2016-08-23 07:17] frederikhegger opened #14 "Add formatting information for TDP"
e.g. formatted according to the LNAI (see RoboCup Symposium requirements)

[2016-09-09 11:55] frederikhegger opened #15 "minor and major collisions are not defined in the rulebook"
The distinction between minor and major collisions actually does not exist in the rulebook (just controlled collision (no penalty) and collision (normal collision penalty).

[2016-09-09 12:11] frederikhegger opened #16 "Do not allow to place objects on top of other objects"
Except for e.g. an assembly or placing into a container

[2016-09-09 12:13] frederikhegger opened #17 "Increase maximum number of objects to be carried by a robot"
or completely eliminate the limit.

[2016-09-09 12:16] frederikhegger opened #18 "Make use of the dynamic inventory of the CFH (refbox)"

[2016-09-09 12:16] frederikhegger opened #19 "Will the BAT again only a demo or a real test?"

[2016-09-09 12:17] frederikhegger opened #20 "Will there be a cross-over-challenge at the next GermanOpen?"

[2017-07-31 05:50] moriarty opened #22 "Increase height limitation in for the robots"
I've previously suggested increasing the width and length limitations because I spoke with @RobotnikAutomation about their mobile platform which could be similar to a Kuka YouBot.

The decision then, was to wait until we're approached by a team with the platform to approach the TC and request for the size to be increased.

In @RobocupAtHome DSPL league, I saw the Toyota HSR platform looks promisin

[2017-07-31 05:55] moriarty commented on #22
http://www.toyota-global.com/innovation/partner_robot/family_2.html

Also, another platform which looks really good is the Fetch from http://fetchrobotics.com/ @rohanbhargava11 RoboCup 2018 will be in Montreal next year- I'm sure Fetch would be able to throw together a team ;-)

[2017-10-09 10:33] moriarty commented on #22
Closed with #23

[2017-10-09 10:33] #22 closed, assigned to nobody

[2017-10-10 00:50] moriarty commented on #22
@timn I thought we talked in Nagoya and the RCLL was also Open Platform... but I just checked the 2017 rules and it seems that is not the case.

I tagged you here on the closed issue as an off topic FYI.

This has been merged. Hopefully we see some more diverse robots because it could open up some fun for the crossover challenge.

[2019-01-19 15:45] Napoleon-BlownApart opened #24 "RoboCup@Work OC email address"
Could someone from your community please let me know how to contact the OC (Organising Committee)?
Also, unfortunately the http://www.robocupatwork.org/ website is down at the moment.

[2019-06-12 12:02] deebuls commented on #24
Hi @Napoleon-BlownApart  . sorry for the late reply.
But I will be OC for robocup in Sydney. Please mail me for any information.

[2019-07-06 00:14] deebuls opened #27 "Define minimum and maximum of different elements of testbed"
- Platform heights
- Laser scanner boundary heights
- Objects sizes
- etc

[2019-07-11 15:37] deebuls opened #28 "Define ideal networking setup for teams and robots"
The league should define an ideal networking solution for teams, for smooth conduct of competition.

RoboCup wifi is always been problematic, but still we need wireless Communication for status and control of the robot.

Hence the league should define ideal hardware, protocols, channels and networking setup for handling the challenges

[2019-07-11 15:40] deebuls opened #29 "Standardize the number, name, schedule and awards for challenges"
Rather than having new challenges every year, lets standardize to just 3 categories
1. Navigation challenge
2. Manipulation challenge
3. Perception challenge

We can modify the challenges under these categories every year.
Also fix the scoring of challenges.

[2019-10-15 12:33] deebuls opened #30 "Making Finals appealing to audience"
Rather than having the sum of points for deciding the winner can we have the summing up only to decide the 3 finalists and the final points are considered separately.
The finals be run between the top 3 teams of the scoreboard.
A special award can be given to the winner of the table.

Advantages:
1. Since any of the 3 finalists can win it becomes a very uncertain and competitive setup engaging aud

[2019-10-15 12:38] deebuls opened #31 "Making 2 testbeds for Basic and advanced tests"
We can have 2 separate testbeds:
1. Basic tests(BMT, PPT, RRT, Challenges)
2. Other test (BTT, Finals)

Requirements:
1. Testbed needs to be designed to accomodate this requirement
2. Schedule has to adjust these changes.

Advantages:
1. Test slots of teams and basic tests can be run parallely
2. Multiple runs can be run for basic test and challenges

[2019-10-29 10:28] #3 closed, assigned to nobody

[2019-10-29 10:29] #4 closed, assigned to nobody

[2019-10-29 10:33] deebuls commented on #9
Implemented

[2019-10-29 10:33] #9 closed, assigned to nobody

[2019-10-29 10:33] #10 closed, assigned to nobody

[2019-10-29 10:34] #11 closed, assigned to nobody

[2019-10-29 10:34] #12 closed, assigned to nobody

[2019-10-29 10:35] #13 closed, assigned to nobody

[2019-10-29 10:36] #19 closed, assigned to nobody

[2019-10-29 10:36] #20 closed, assigned to nobody

[2019-10-29 10:37] #24 closed, assigned to nobody

[2019-10-29 21:05] Pouya-Mansournia commented on #29
Dear committee members
I think @work robot league need some real industrial challenges and I suggest that to change part of the ground and Let's make a bump.  Because many factory floors are not very flat. And another I suggest that make manipulation challenge around of welding robot for example robot and especially arm can do welding challenge with marker and whiteboard maybe this challenges help

[2019-10-30 11:27] deebuls commented on #29
Thanks @pouyamansournia  for the feedback. Just to clarify the discussion is towards standardization of the challenges and not defining the challenges(Once this is fixed we can start those discussions). From now on there will always be 3 types of challenges, this helps in :
1. technical committee to select the competition.
2. there is a balance between the challenges (current challenges all requir

[2019-10-30 17:21] asadnorouzi commented on #31
This is very much relies on how much space we have available each year. Therefore, I do not think we can add it to the rules permanently. If we do this, it would mean that we are requiring a larger field size which is not really a favorable request. I do like the idea, but given that we have a structured plan for its implementation to avoid unnecessary arguments during the competition. Let’s see w

[2019-10-30 17:25] asadnorouzi commented on #30
Can you elaborate a bit more?

1. What do you mean by “the final points are considered separately”?
2. What do you mean by “A special award can be given to the winner of the table”?

[2019-10-30 17:30] asadnorouzi commented on #29
@pouyamansournia We can’t change/modify the flooring of the venue. Moreover, as of now, we’re targeting indoor manufacturing where flooring is actually quite standardized and mostly conveniently even.

[2019-10-30 17:31] asadnorouzi commented on #29
@deebuls I agree with you on standardizing the challenges. But they must be well defined with an appropriate goal. Do you have anything in mind to propose?

[2019-10-30 17:34] asadnorouzi commented on #28
The hardware, setup, and infrastructure is provided by the LOC. There’s no way for us to have a complete control over it. We could indicate our requirement and hope that it would properly prepared by the LOC!!

[2019-10-30 17:37] asadnorouzi commented on #27
1. Platform range can be between 0cm - 15cm
2. What do you mean by the LIDAR boundary heights?
3. Object sizes are already indicated in the rulebook. Are you referring to the arbitrary objects?

[2019-10-30 17:38] asadnorouzi commented on #18
@frederikhegger Please elaborate!

[2019-10-30 17:40] asadnorouzi commented on #17
I agree with removing the maximum limit for the robot to carry objects!

[2019-10-30 17:41] asadnorouzi commented on #16
agreed!

[2019-10-30 17:43] asadnorouzi commented on #15
@frederikhegger Let’s bring in the exact quotes from the rulebook here and rewrite them for better clarity. Will you do it?

[2019-10-30 17:44] asadnorouzi commented on #14
Yes! We should add the standard format!

[2019-10-30 17:45] asadnorouzi commented on #8
@svenschneider Any specific reason for this?

[2019-10-30 17:46] asadnorouzi commented on #7
I would suggest to define a range rather than an exact value.

[2019-10-30 17:48] asadnorouzi commented on #6
@deebuls why is it reopened? I don’t think we’re discussing to add any new element to the competition.

[2019-10-30 17:50] asadnorouzi commented on #2
Are we still discussing it for 2020?

[2019-10-30 17:52] asadnorouzi opened #32 "Fix / Change the RefBox!"
The current RefBox doesn’t function properly. Who will take lead to have it changed or fixed? Any volunteers?

[2019-10-30 19:55] frederikhegger commented on #15
Unfortunately, I do not work anymore for the university and also not anymore in the domain of robotics. Sorry

[2019-10-30 19:57] frederikhegger commented on #18
I do not remember anymore, what this was about. But maybe @svenschneider does have an idea.

[2019-10-31 12:24] svenschneider commented on #8
Sorry, no idea what that was about.

[2019-10-31 12:24] svenschneider commented on #18
Too long ago, no more memories on that one. Sorry.

[2019-11-01 06:52] SebastianZug commented on #29
In the last years, we defined new types of challenges each year. I agree with @deebuls; we need a midterm strategy here addressing a specific topic. Based on such a general goal refined over some competition seasons, the challenges become more predictable (and consequently more interesting) for our teams.

From my perspective, such a new goal can be defined in the manipulation part only. I propose

[2019-11-01 06:54] SebastianZug commented on #32
There are some activities in Magdeburg in this direction ... probably @steup can give some comments?

[2019-11-01 12:50] steup commented on #32
We are currently working on a RefBox based natively on ROS. The RefBox will use Multi-Master to decouple the robots from the RefBox and allows the transmission of tasks to individual robots. The Visualization is based on RViz and a FeedBack channel is included, to allows the robots to send their view of the world back for visualization purposes. If necessary we can include additional communication

[2019-11-01 12:53] steup commented on #31
If we have two comparable complete arenas, I am in favor of assigning teams to arenas and let them do their tests and competitions in their arena. For competition runs I would not let multiple runs be done in parallel, but we can schedule the teams alternating between the arenas to increase the time for the referees to prepare the arena. Using that we may be able to reduce the down-time between co

[2019-11-01 12:56] steup commented on #30
Last years finals were very nerve wrecking, I think we do not need to add additional tension. However a limitation of competing teams for the finals may be beneficial for the schedule. I think we should be able to decide that on site. And we should put an appropriate section in the rulebook giving the TC/OC on site the capability to do so.

[2019-11-01 13:05] steup commented on #29
In general I think @deebuls  is right. But I think there are more challenge categories like

- Planning
- Complex Interaction

Planning relates more to finding optimal plans for sub-tasks or orders of sub-tasks
@SebastianZug proposition is in my opinion a Complex Interaction challenge.

However if we plan to have a single challenges for each category we need to much time and do not have enough com

[2019-11-01 13:09] steup commented on #27
I completely agree with @debuuls

Laser scanner boundary heights are in my opinion the height of the static arena elements, since these need to be observable by the laser scanners of the robots

Object Size also adheres for the dynamic obstacles used in the arena as well as the barrier tapes / barrier tape areas.

Also Shelf Geomertry and workstations need to be specified especially regarding refl

[2019-11-01 13:10] steup commented on #18
Lets close this one to focus on the relevant aspects

[2019-11-01 13:11] steup commented on #8
Impossible as defined through the venue and federation. Maybe we can switch to 5Ghz only, because this was the case for the last years

[2019-11-01 13:18] steup commented on #15
I agree that we need to rework the whole collision penalty system. For starters we should specify different types of collisions and add the penalties to them. I propose the following collision types:

- Collision with static elements of arena
- Collision with dynamic elements of arena
- Robot Body Collision with workstation
- Robot Manipulator Collision with manipulation zone
- Robot Manipulator C

[2019-11-01 13:21] steup commented on #17
I do not agree, because it is a challenge for planning. However I am open for a dynamic limit based on tasks. E.G:
- BMT 1 Object
- BTT1 2 Object
- BTT3 3 Objects
- Final 5 Objects

It also allows us to create tasks, which are tailored for new teams without a working inventory
If we see major benefits in the large transportation limits, we can remove the limit in the future.

[2019-11-01 13:23] steup commented on #16
Is only a viable additional challenge if we enforce placement to be done within the manipulation zone of the workstation. Increases difficulty for placing tasks especially on crowded workstations. Also adds a penalty for incorrect container placement.

[2019-11-01 13:25] steup commented on #7
Eases Transportation, but complicates construction. I would suggest to postpone the change unless a working prototype of a new table is constructed.

[2019-11-01 13:27] steup commented on #6
Nothing available as far as I known. If you have something in mind tell us @deebuls.

[2019-11-01 13:29] steup commented on #2
That one is tricky, because the internal rules allows the specification, but the visualization does not show it. It would need changes to visualization. The new RefBox fixes the problem, when it is ready.

[2019-11-01 22:53] asadnorouzi commented on #32
@steup Thank you Christoph! This sounds awesome :) If prototype is to be released by German Open 2020, it would mean that we still couldn’t have it released in time for all teams to integrate before RoboCup 2020. Therefore, we still need someone to fix the current RefBox for RoboCup 2020. Do you have any suggestion?

[2019-11-01 23:03] #18 closed, assigned to nobody

[2019-11-01 23:05] asadnorouzi commented on #17
@steup The planning shouldn’t only be based on software but also on hardware design. This is an actual scenario in manufacturing where tools are designed to increase productivity. Removing the limit would enable teams to be innovative to increase their robot’s productivity.

[2019-11-01 23:08] asadnorouzi commented on #8
This’s out of our control. So, no point to discuss this further.

[2019-11-01 23:08] #8 closed, assigned to nobody

[2019-11-01 23:10] asadnorouzi commented on #7
@steup Shall we define a min/max range for the radius? This makes it easier for the organizer to prepare it. What do you think?

[2019-11-01 23:11] asadnorouzi commented on #2
OK then, let’s close it for now.

[2019-11-01 23:11] #2 closed, assigned to nobody

[2019-11-06 10:08] deebuls commented on #31
To summarize:
@asadnorouzi  has pointed out we cannot get bigger areas from organizer so idea has to be implemented in the same size
@steup  comparable complete arenas, assigning teams to arena, mentioned no parallel runs.

@deebuls 2 arena (dividing our current big arena to 2, small and big) based on the tests(basic test advanced test), no parallel runs, run multiple basic test and challenges in

[2019-11-06 10:15] deebuls commented on #30
@asadnorouzi I was mentioning that in the finals the 3 finalist start with zero points and the team with maximum points in the finals wins the competition.
As compared to the current winner of the table.
@asadnorouzi so there are chances when the top of the complete table will not be a winner(as they were second in finals), but we can give them a special award for being top of table
@steup I total

[2019-11-06 10:47] deebuls commented on #29
To conclude everyone agrees that the challenges should be standardized (at least the name).
The internal test for each topics we can discuss in the subsequent issues we will create for the specific.

So the categories which have been proposed are:
1. Navigation
2. Manipulation
3. Perception
4. Planning
5. Complex Interaction

@SebastianZug  I really like the idea and very novel. Just to be the dev

[2019-11-06 10:53] deebuls commented on #29
I like how this discussion is going but this was not the reason why I started the issue. The reasons I started the issue was:
1. Every year we bring new challenges but teams hardly compete
2. We never get the challenges awards on stage, the reason I think is because its never communicated properly what challenges we are doing and it keeps changing every year.

So the main idea was to standardize t

[2019-11-06 10:55] deebuls commented on #29
My answers:
1. 3 (more the better)
2. Technical challenge
3. 1 award on stage for robocup (max winner of all the challenges) + the individual challenge awards we give on the competition floor

[2019-11-06 13:11] deebuls commented on #17
@asadnorouzi and @steup agree with both.

We need to benchmark hardware designing we also need to benchmark planning.

Let the refbox decide how many objects to pick and place? What do you people think?

On a more random thought about the planning problem:
Can the refbox also decide randomly points for each objects ?

[2019-11-06 13:34] deebuls commented on #6
The idea is to  use not a conveyor belt but a linear actuator. Linear actuator has advantages that we can control speed easily available and we can move objects repeatedly like rotating table .

Some examples:
https://www.youtube.com/watch?v=1PDzEpyDN78
or opensource ones:
https://www.youtube.com/watch?v=tHn-gffborc&list=PLDeI80MYQtbqZahZvCIcOPhE0wO3RirvY

This is a good place where we can ask igu

[2019-11-06 13:36] deebuls commented on #7
@asadnorouzi agree.
Can anyone also look into a standard easy to reproduce, with minimum moving parts electronic design,
With components available in all the continents.

[2019-11-06 14:32] Pouya-Mansournia commented on #29
It would be better to give three separate award to each technical challenges and go on the stage.

[2019-11-06 15:01] deebuls opened #33 "Propose a new challenge"
Please provide a challenge for robocup@work 2020 challenges. The benchmark categories we are interested are:

1. Navigation
2. Manipulation
3. Perception
4. Planning

The general guidelines for the challenges are:
1. Should be a combination of 2 research categories
2. Should be interesting for teams to participate
3. Should be a doable task with robot hardware
4. Should be interesting to audience,

[2019-11-06 15:02] asadnorouzi commented on #30
@deebuls Yes, I agree that this would make the Finals more competitive and more exciting for the audience. The results from the Finals can be used to determine the 1st, 2nd, and 3rd ranks. However, we can’t give any special award to the team with highest overall points. Because the RoboCup awards must be standard and defined. The solution to this is to make one of the technical challenges as “over

[2019-11-06 15:05] deebuls commented on #33
Example The following is from @SebastianZug

    Name : Pick from a drawer
    Short description : Open the drawer, look for an object, pick it, and close the drawer.
    Benchmark categories it will include : Perception and Manipulation
    How is it different from other test : First test with changing state of environment.
    How will it be interesting to audience : the complexity of an in-draw

[2019-11-06 15:10] deebuls commented on #29
@steup @SebastianZug @asadnorouzi @pouyamansournia
I have created a new issue #33 for proposing a new challenges and I have rephrased this topic name .

I have also provided different guidelines to consider while writing the challenges. Please review the guidelines and I will send that through the mailing list also.

[2019-11-06 15:11] asadnorouzi commented on #29
Following the discussion from the other thread, we could use the overall robot performance as a new technical challenge. This winner would be the robot who has collected the most points throughout the competition. This is given that we decide to make the Final as @deebuls proposed.

In addition to the above, we could introduce 1 or 2 more challenges.

There could be 1 award for the best performanc

[2019-11-06 15:13] deebuls commented on #29
Its not always possible to get 3 extra awards on stage atleast for robocup because of time constraints and less team participants.
We have 2 options, 1 like the logistics league we do only 1 extra award and give this award on stage.
or like the standard league or rescue league give multiple awards on competition floor.

[2019-11-06 15:17] asadnorouzi commented on #17
I don’t think we should make it more complicated at this stage. Removing the maximum objects to be carried by the robot doesn’t make it more complicated, but opens up more innovative ideas. However, have it randomized by the RefBox makes it more complicated. I disagree to make such complications at this time. I like the idea but maybe we could discuss it for 2021!

[2019-11-06 15:22] asadnorouzi commented on #6
@deebuls We could request for funding from the Federation. Although, the deadline for next year has already lapsed! However, you should think of the transportation costs as well. Moreover, this would be a new challenge in the arena. Why are we adding a new challenge while we already have enough complications in the arena? Teams are still improving with RTT, PPT, and Shelf. So, I don’t think it’s t

[2019-11-06 17:46] Pouya-Mansournia commented on #29
I like same as rescue league to be given multiple award on competition floor, maybe this action increase league motivation for all participated team tried hard

[2019-11-06 20:32] steup commented on #30
I can understand your point regardig the tension for the audience. But I am not convinced we should aim that much for the audience. Additionally, I am not convinced this strange rule is easily conveyed to the audience.
From a team leader persepctive I am completely against it, because it pretty much opens up the title of world champion to be awarded bz chance. Because teams may have hardware failu

[2019-11-07 11:22] deebuls commented on #30
clarifications:
* We dont ignore the other points from tests completely. They are used to determine the top3
* So even in the finals if the top 3 team gets a zero it still will be third prize.
* For audience it will be these are our top teams: The finals is 2 hour between 3 teams.
* With respect to the schedule of the challenges as per discussion in #29 , we should do all the challenges before the

[2019-11-07 11:27] deebuls commented on #6
@asadnorouzi I agree.
I will reassign this issue to 2020.

But can we someone take an action point of talking to igus for sponsorship or finding funding for buying the hardware.
@SebastianZug

[2019-12-30 10:31] SebastianZug commented on #6
RTT covers the challenges of "moving targets" already. Hence, I don't see a need to reactivate the conveyor belt.
@deebuls ... or do you have a completely different idea in mind?

[2019-12-30 10:39] SebastianZug commented on #16
That's not a problem from my perspective. The objects must be located within the manipulation zone / container. If we start to analyze its position (close to the wall, on top of another object, etc.), we open up Pandora's box.

[2019-12-30 10:39] #16 closed, assigned to nobody

[2019-12-30 10:56] SebastianZug commented on #27
I remember only one situation that made some handicraft work necessary each year - the missing skirt of the round-table, that guarantees a correct detection by laser scanner. Anything else?

[2019-12-30 11:41] SebastianZug opened #34 "Website"
I'm wondering, that we are referencing two different websites in our documents:

https://www.robocup.org/leagues/16
and
https://atwork.robocup.org/

Who hosts the last one?

[2019-12-30 23:45] abhishekpadalkar commented on #33
[code]

[2019-12-30 23:55] abhishekpadalkar commented on #32
@steup It the repository of this new RefBox public yet?? Please specify the link so that we can also contribute.

[2019-12-31 12:34] SebastianZug commented on #33
The proposal of @abhishek098 resumes the Rockin concept. The robot collects all parts required for a certain assembly task at one workstation (and starts the manufacturing process). Can we transfer this long term vision in a number of challenges for the next years, that build upon one another. In this way we are able to address a general strategy for our challenges :-)

[2019-12-31 16:35] abhishekpadalkar commented on #33
@SebastianZug next year means 2021 or 2020? It is a bit different than the Rockin challenge as collecting tools is a secondary goal and location will be unknown (But still will be on the same workstations that robot is supposed to perceive). BMT tasks already realize the Rockin concept. Collecting previously unknown objects will add crisp to the conventional pick and place task in BMT2. I think we

[2020-01-04 17:16] steup commented on #32
We will upload the refbox Prototype when there is a minimal working version. We are currently working on it. I hope it will be done by the end of February.

[2020-01-06 19:55] DharminB commented on #32
Maybe we can try the interface ([link](https://docs.google.com/document/d/1vba1dIjxMPEHUaE4sGCUeb1DqVaoS0PqidXd55esFp8/edit?usp=sharing) section 5) which was used for sciroc 2019. We have the [client](https://github.com/b-it-bots/sciroc_datahub_client) ready. I can work on server side if you like.

Communication happens via api calls (no ROS needed).

[2020-01-06 20:48] steup commented on #32
Our current approach uses a ROS-based System with communication plugins for multiple other interfaces. Therefore no client is necessary for the current teams, besides a parsing of ROS messages. For teams not using ROS other interfaces like the old RefBox interface will be provided. Therefore no one needs to change anything, at least not this year. Currently communication is implemented and task ge

[2020-01-07 03:44] DharminB commented on #33
[code]

[2020-01-10 16:51] asadnorouzi commented on #34
Both links are correct and official. If you feel two links are confusing, then we could just use https://artwork.robocup.org in the rulebook. I’ll be updating the webpages soon!

[2020-01-10 16:59] asadnorouzi commented on #32
As I have mentioned previously, we can’t use the RefBox that @steup and his team are developing for RoboCup 2020. Teams will need to have adequate time to change their RefBox module. The initial version of the new RefBox will be tested during the GermanOpen. So, absolutely not enough time for others to use it for RoboCup 2020. I suggest we introduce the new RefBox to all teams during RoboCup 2020.

[2020-01-10 17:30] asadnorouzi opened #35 "RoboCup@Work CFP for RoboCup 2020"
I am planning to send the CFP for RoboCup 2020 and start the pre-registration before the end of January. Please review the following announcement and let me know if you would like to change any part of the announcement:

<—
Apologies for duplicate messages
------------------------------------------------------------------------------------
Call for Applications for Participation
RoboCup 2020 - Rob

[2020-01-12 11:10] SebastianZug commented on #33
Ok, I added the description of the drawer challenge in our document. Please take a view to the motivation. I would like to define a medium-term strategy for our league represented by challenges with a specific focus. Currently, I am convinced that it makes sense to include the "Cluttered Pick Test" again. It meets a strategy aiming at manipulation and perception perfectly.

What do you think?

[2020-01-12 11:12] SebastianZug commented on #35
No comments from my side! For the next year we have to prepare a latex document to ensure homogeneous TDPs.

[2020-01-15 01:13] asadnorouzi commented on #35
@SebastianZug Would you like to use the RoboCup Symposium template? Last year, they used this template: https://www.overleaf.com/latex/templates/springer-lecture-notes-in-computer-science/kzwwpvhwnvfj#.WtR5Hy5ua71

[2020-01-15 07:46] SebastianZug commented on #35
Yes, nice idea. Next year we add an obligatory structure for the document.

[2021-01-21 16:24] #6 closed, assigned to nobody

[2021-01-21 16:24] #7 closed, assigned to nobody

[2021-01-21 16:24] #14 closed, assigned to nobody

[2021-01-21 16:24] #15 closed, assigned to nobody

[2021-01-21 16:24] #17 closed, assigned to nobody

[2021-01-21 16:24] #27 closed, assigned to nobody

[2021-01-21 16:24] #28 closed, assigned to nobody

[2021-01-21 16:24] #29 closed, assigned to nobody

[2021-01-21 16:24] #30 closed, assigned to nobody

[2021-01-21 16:24] #31 closed, assigned to nobody

[2021-01-21 16:24] #32 closed, assigned to nobody

[2021-01-21 16:24] #33 closed, assigned to nobody

[2021-01-21 16:24] #34 closed, assigned to nobody

[2021-01-21 16:24] #35 closed, assigned to nobody

[2021-01-21 16:25] SebastianZug opened #36 "Implement automated pdf generation"

[2021-01-21 16:26] SebastianZug opened #37 "Adapt rulebook related to robot dimensions and shape"
Related to the different configurations of robots, we need to adjust the rule set definitions. The goal is to give the teams more freedom in the design. At the same time, we need new collision rules for robots that extend beyond the walls.

[2021-01-22 07:04] #36 closed, assigned to SebastianZug

[2021-02-03 23:13] steup opened #39 "Define Difficulty Levels"
The current setup of the league makes it hard for new teams to enter the competition. It may be benficial to define difficulty levels, which disable parts of the challenges of the competition to make it more achievable for new teams with reasonable effort.

I suggest to handle the difficulty levels as a trade-off between challenges encountered in the arena on run-time and points awarded per task (

[2021-02-03 23:17] steup opened #40 "Define Scope of Definition of Arena Elements"
Currently the Arena Elements (Workstations, Walls, Objects etc.) are only defined very sparsely. For the teams to be able to adapt their new robots to the arena encountered in the competition more specification is necessary.

We should define the amount of limitations we want to set to the Arena Elements regarding size, weight and materials.

Additionally there should be construction or acquisitio

[2021-02-03 23:25] steup opened #41 "Define a Simulation Challenge for Virtual RoboCup 2021"
Currently the league has no simulator readily available. In the last meeting multiple options were discussed. However, a comparision of these regarding the requirements of the league is difficult without looking at them.

Consequently, a n open simulation challenge may provide some inside into the capabilities and trade-offs of the different simulators out there.
I suggest to define an open simula

[2021-02-03 23:32] steup opened #42 "Set some rules regarding the RefBox and its usage"
THe new refbox has new features, but some of these features may be exploited. Therefore, it is necessary to define some "rules of engagement":

- Task are handed out solely by the refbox (no caching, no self-generation etc ...)
- Information destined to be private needs to stay private to the appropriate group even if eavesdropping is technically possible ( no listening in on other teams task topi

[2021-02-05 09:06] marcomasa commented on #42
We tought about the following for the virtual cups:
- OC normally provides the refbox --> not possible for VRC
- Teams provide a map and images of their Arena, which was built regarding some rules we defined
- TC checks the map for suitability of tasks (BTT, final)
- TC creates Tasks for the teams and records bagfiles. Those bagfiles will be distributed to the teams and have to be played to start

[2021-02-05 09:30] marcomasa commented on #41
I haven't seen a realistic modelling for object manipulation (physics and graphics) which can run on a "normal" pc yet..
So these tasks would mainly include navigation. As a lot of teams use custom platforms (no youbot anymore), individual advantages of construction (controllers, precision, speed) may fall off hard. As our league depends on new teams, bringing in new ideas and/or sharing construct

[2021-02-05 09:32] marcomasa commented on #40
Arena rules will be defined until wednesday (first draft).

As mentioned in #41 , we should do some tutorial pages for the league for new teams. This also includes arena building advice.

[2021-02-05 09:37] marcomasa commented on #39
I'd rather help teams to get to some sort of "standard" level, which is what all successul teams of the past years should have achieved already. So once again, some kind of tutorial pages which new teams can use to gather ideas from our experience.

I don't like the idea of the difficulty levels. Movement points are already quite low, and the obstacles are relatively easy to avoid (physical). We c

[2021-06-23 18:16] deebuls opened #45 "Remove Rockin objects and add new objects available in all countries or 3D print parts"
Since rockin objects are no more available, we should remove them and add some common objects available in the hardware shop.

I very much like the ![tless dataset](http://cmp.felk.cvut.cz/t-less/) but when I contacted them from where they bought it; it was only available in Coratia.

Another good idea can be 3D printed parts, like a simple useful dailty stiff https://all3dp.com/1/small-quick-easy

[2022-03-02 16:20] slyandsmart commented on #45
New Objects included in the new ruelbook 2022, as well as 3D printig procedure for RockinObjects (same color for all printed objects).

[2022-03-02 16:20] #45 closed, assigned to nobody

[2022-03-10 03:46] asadnorouzi opened #46 "Incomplete EC/TC names in the title page"
All EC and TC member names must be printed on the first page in alphabetical order.

[2022-03-10 03:54] #46 closed, assigned to nobody

[2022-11-26 19:44] leanderb commented on #37
closed, because the issue is very old and the rulebook have been rewritten in the meantime

[2022-11-26 19:44] #37 closed, assigned to SebastianZug

[2022-11-26 19:46] leanderb commented on #39
closed, because the issue is very old and the rulebook have been rewritten in the meantime

[2022-11-26 19:46] #39 closed, assigned to nobody

[2022-11-26 19:47] leanderb commented on #40
closed, because the issue is very old and the rulebook have been rewritten in the meantime

[2022-11-26 19:47] #40 closed, assigned to nobody

[2022-11-26 19:48] leanderb commented on #41
closed, because the issue is very old and the rulebook have been rewritten in the meantime

[2022-11-26 19:48] #41 closed, assigned to nobody

[2022-11-26 19:49] leanderb commented on #42
closed, because the issue is very old and the rulebook have been rewritten in the meantime

[2022-11-26 19:49] #42 closed, assigned to nobody

[2022-11-26 19:52] leanderb opened #47 "Change the switch of runs rule"
from Discord rule-book-discussion-2022 channel:
1. Change the switch of runs rule:
Replacing a lower scoring run should be allowed bc eg BMT is higher than PPT and RTT which most teams will discard first if they face onsite issues.
Points could ceil at the replaced runs score, or you could make some kind of percentage (tbd)

[2022-11-26 19:56] leanderb opened #48 "Clarify partly object placement"
from Discord rule-book-discussion-2022 channel:
3. Define the scoring of the situation that an object is placed only partly on the workstation, partly hanging over the workstation into the arena

[2022-11-26 19:59] leanderb opened #49 "Clarify moment of barrier tape deduction"
from Discord rule-book-discussion-2022 channel:
4. Scoring in case of deduction in percentage (e.g. tape collision): It is probably meant to be a deduction of the total points at the end, but it could also be e.g. 5% of the points gained until the time of the tape collision

[2022-11-26 20:00] leanderb opened #50 "Clarify manipulation zone size"
from Discord rule-book-discussion-2022 channel:
5. Conflict between "max. Manipulation zone is 20 cm (p.33) and image on page 34, where the manipulation zone + 2cm at the border of the workstation combined are 20cm. -> 2cm border and 18cm manipulation zone  OR 2cm border and 20cm manipulation zone = 22cm into the table

[2022-11-26 20:03] leanderb opened #51 "Allowed height above container"
from Discord rule-book-discussion-2022 channel:
6. Define correct placement for containers: 5cm from manipulation zone or 5cm from container edge
Suggestion for now: 10cm from manipulation zone for containers

[2022-11-26 20:03] leanderb commented on #51
from Discord rule-book-discussion-2022 channel:
8. Define scoring / penalty for the case that an object which shall be placed in a container is dropped more than 5cm above the manipulation zone (See point 6) but misses the container (object loss vs scoring to motivate the teams to try container tasks: reduce the risk)

[2022-11-26 20:04] leanderb opened #52 "Reward placement on RTT"
from Discord rule-book-discussion-2022 channel:
9. If placement on arbitrary surface is rewarded with additional points, so should placement on the rtt, because it is even more difficult to determine an object-free area over there

[2022-11-26 20:06] leanderb opened #53 "Clarify call of major collision"
from Discord rule-book-discussion-2022 channel:
10. How is a major detected, should the referees shout?

[2022-11-26 20:06] leanderb opened #54 "PPT with new objects"
from Discord rule-book-discussion-2022 channel:
11. PPT with the new objects?

[2022-11-26 20:10] leanderb opened #55 "Clarify restart rule"
from Discord rule-book-discussion-2022 channel:
2. ? Clarify the restart rules

[2022-11-26 20:11] leanderb commented on #55
maybe restating the section is enough?

[2022-11-26 20:16] leanderb opened #56 "New objects"
How to proceed with new object set?

[2022-11-26 20:18] leanderb opened #57 "Major collision penalty is too harsh"
problem description:
a major collision resets the points to 0 and restarts the run; the new points are multiplied
with 0.75; the idea is, that a major collision must not happen, because things might be
damaged, or even worse, persons could be injured; the problem: the later a major collision
occurs, the harsher the penalty, because the time becomes smaller and smaller; furthermore
teams with very

[2022-11-26 20:19] leanderb opened #58 "Tactical call of restart"
problem description:
tactical call of a restart: to prevent the major collision penalty, teams try to call stop or
restart when it is likely (sometimes only to the team) that a major collision happens; a work
around used by the referees is, that the robot had to continue operation 5 seconds after the
restart was called (this is not defined in the rulebook)

[2022-11-26 20:22] leanderb opened #59 "Show room test"
- new type of test which shall be scheduled before all other tests
- the idea is, that no team has to leave the competition with 0 points and the teams can show
in a well known setting what their robot is able to do
- each team defines the task for their self with the following rules:
o at least 2 tables shall be used; the tables shall be selected from the existing arena
o 2 different objects shal

[2022-11-27 02:43] marcomasa commented on #47
Maybe we could also create some sort of table/graph to visualize the potential points and difficulty for each test.
This would help teams to understand the required tasks and therefore prioritize work packages. Some might want to focus on BMT / BTTs rather than PPT or RTT.
They should however still not "usually" perform in other slots than the regular schedule.

[2022-11-27 02:56] marcomasa opened #60 "Video Referee / Infrastructure"
The league always had some kind of livestream and private camera recordings that were sometimes reviewed when discussing "controversial" situations during the competitions.

The football leagues have a camera rack above their playfield that is used during the competition. If our arena design would also include a top-down view from some height (3 - 5m ?) in form of a camera on a rack around the are

[2022-11-27 03:13] marcomasa commented on #58
I think it should be possible to do so.

Actively stopping a run also potentially costs you future points if your robot does not crash in the end and continues, so the teams need to actually know their system to make a good judgement in competition situations. I like the idea that this is awarded as it shows a teams' knowledge in the field. Sometimes it also penalizes a team for a wrong call (e.g.

[2022-11-27 03:25] marcomasa commented on #57
We could change the system to:
- a collision does not reset your score, but applies a harsh penalty multiplier (e.g. 0.4) to collected points of that run
- team has the option to restart the run with less time, but with the regular penalty (e.g. 0.8)

New teams can still restart their run, but the experienced teams can also keep their (reduced) score if they would have no more time to perform task